<div>
  <span *ngIf="items">
    <form [formGroup]="foodForm">
      <app-field-select
        #fieldSelect
        [fields]='items'
        (updateSelection)='newSelection($event)'
        [selectionId]='foodForm.value.id'>
      </app-field-select>
    	<mat-form-field class="food-item-text" appearance="standard" >
  	  	<input matInput type="tel" placeholder="grams" formControlName="grams" (change)="calcCalsFromGrams()">
    	</mat-form-field>
      <mat-form-field class="food-item-text" appearance="standard">
  				<input matInput type="tel" placeholder="calories" formControlName="cals" (change)="calcGramsFromCals()">
      </mat-form-field>
    </form>
  </span>
</div>
