<div *ngIf="displayList">
  <app-food-item
        #foodItem
        *ngFor="let current of counter"
        [items]='items'
        (calcCals)="onCalcCals($event)"
        [id]="'ingredient-'+current">
  </app-food-item>
  <div [id]="totalCals" [ngClass]="{
    'cals-below': totalsCals <= 300,
    'cals-above': totalCals > 300
    }"> 
    <h3>
      {{totalCals}}
    </h3>
  </div>
  <div>
    <button mat-raised-button (click)="editItems()" color="primary">Edit</button>
    <button mat-stroked-button (click)="clearItems()" color="primary">Clear</button>
  </div>
</div>
<div *ngIf="displayEditList">
  <app-item-edit
        #editItem
        (updateItems)="onUpdateItems($event)"
        (exitEditList)="listItems()"
        [items]='items'>
  </app-item-edit>
</div>
<div *ngIf="displayEditor">
  hello
</div>
