<div style="text-align:center">
  <h2>
    onaka ga suita!    
  </h2>
</div>
<div style="text-align:center" *ngIf="displayList">
  <div [id]="totalCals" [ngClass]="{
    'cals-below': totalsCals <= 300,
    'cals-above': totalCals > 300
    }"> 
    <h3>
      calories: {{totalCals}}
    </h3>
  </div>
  <app-food-item
        #foodItem
        *ngFor="let current of counter"
        [items]='items'
        (calcCals)="onCalcCals($event)"
        [id]='current'
        [curCals]='itemCals'>
  </app-food-item>
  <div>
    <button mat-raised-button (click)="editItems()" color="primary">Edit</button>
    <button mat-stroked-button (click)="clearItems()" color="primary">Clear</button>
  </div>
</div>
<div *ngIf="displayEditList">
  <app-item-edit
        #editItem
        (updateItems)="onUpdateItems($event)"
        (exitEditList)="listItems()"
        [items]='items'>
  </app-item-edit>
</div>
