  <table mat-table [dataSource]="items" #foodTable>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>
    <ng-container matColumnDef="cal">
      <th mat-header-cell *matHeaderCellDef> Cals </th>
      <td mat-cell *matCellDef="let item"> {{item.cal}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
      <button mat-icon-button color="primary" (click)="editItem(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteItem(element.id)">
        <mat-icon>delete</mat-icon>
    </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<p *ngIf="error" class="error">{{error | json}}</p>
