/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700;subset=latin-ext');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$app-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $body-1: mat-typography-level(12px, 20px, 500)
);

@include mat-core($app-typography);
@include mat-base-typography($app-typography);
@include angular-material-typography($app-typography);

body, html {
  margin: 0;
  height: 100%;
  font-size: mat-font-size($app-typography, body-1);
  font-family: mat-font-family($app-typography);
  line-height: mat-line-height($app-typography, body-1);
}

mat-form-field {
  width: 40%;
  margin-left: 5%;
}

.food-item-text {
  width: 20%;
  margin-left: 5%;
}

.food-edit-field {
  width: 90%;
  margin-left: 5%;
}

mat-select-content{
  background-color: red !important;
} 

.cals {
  text-align: center;
}

.cals-below {
  color: black;
}

.cals-above {
  color: red;
}

table {
  font-size: mat-font-size($app-typography, body-1);
  font-family: mat-font-family($app-typography);
  width: 100%;
}

thead {
  display: none;
}

.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}
